<!DOCTYPE>
<html>
  <header>
    <title> Bootstrap test page </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" media="screen">
  </header>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1> This is a Jumbotron </h1>
        <p> This is how a jumbotron should look. </p>
      </div>
      <ul class="nav nav-tabs">
        <li class="nav-item"> <a class="nav-link active">Research </a> </li>
        <li class="nav-item"> <a class="nav-link">Writing </a> </li>
        <li class="nav-item"> <a class="nav-link">Note taking </a> </li>
      </ul>
      <p> This is just some more text </p>

    </div>

  </body>

</html>
