
    {% extends "base.html" %}
    {% block content %}
    <div class="jumbotron">
      <h1> Welcome to Flask </h1>
      <p> Click <a href="/logout">here</a> to logout.</p>
      <a href="/selected"> Selected </a>
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item"> <a class="nav-link active" href="/research">Research </a> </li>
      <li class="nav-item"> <a class="nav-link" href="/writing">Writing </a> </li>
      <li class="nav-item"> <a class="nav-link" href="/notes">Note taking </a> </li>
    </ul>



      <div  class="col-md-6">
        <h3> Suggested tools </h3>
        <table class="table table-hover">
          <tr>
            <th> Tool </th>
            <th> Function </th>
            <th> id </th>
          </tr>
          {% for post in posts %}
          <tr class="table-light">
            <td>{{post.tool}} </td>
            <td> {{post.summary}} </td>
            <td> {{post.id}} </td>
          </tr>
            {% endfor %}
        </table>
      </div>


        <script type="text/javascript">

        document.querySelector(".table").addEventListener('click', event => {
          const row = event.target.closest("tr");
          if (row.classList.contains("table-light")) {
            var x = row.querySelectorAll("td");
            var tool = x[0].innerHTML;
            var summary = x[1].innerHTML;
            var ident =x[2].innerHTML;
            addremove(row,ident,summary);
          }
        });


        /*
        =====> Checking browser support for HTML5 and specifically availability of localStorage
        */
        //Function below might be redundant.
        function CheckBrowser() {
          if ('localStorage' in window && window['localStorage'] !== null) {
            // We can use localStorage object to store data.
            return true;
          } else {
                  return false;
          }
        }

        function additem(index,item) {
          localStorage.setItem(index,item);
        }

        function deleteitem(target) {
          localStorage.removeItem(target);
        }

        function addremove(row,key,value) {
          if(row.className == 'table-light'){
            row.className = 'table-success';
            additem(key,value);
          }
          else{
            row.className = 'table-light';
            deleteitem(key);
          }
        }


        </script>
    {% endblock %}
